{{> navBar}}

<h1 style="box-shadow: 0 0 1rem rgb(0, 0, 0)">CHECKOUT</h1>
<div class="checkout">
    <img src="/documents/logo.png" alt="logo">
    <p style="font-size: 40px;">¡MUCHAS GRACIAS POR SU COMPRA!</p>
    <p>Nombre: {{purchaseData.clientName}}</p>
    <p>Email: {{purchaseData.email}}</p>
    <p>Numero de ticket: {{purchaseData.numTicket}}</p>
</div>