<h1 style="box-shadow: 0 0 1rem rgb(0, 0, 0)" >FAILED LOGIN</h1>
<div class="failed">
    <p>Invalid email or password</p>
    <div>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    </div>
</div>