{{> navBar}}

<h1 style="box-shadow: 0 0 1rem rgb(0, 0, 0)">WELCOME TO PUEBLA RX STORE</h1>
<img style="border-radius: 2%; box-shadow: 0 0 3rem rgb(2, 2, 2);" src="https://acdn.mitiendanube.com/stores/002/032/995/themes/new_linkedman/2-slide-1715370209109-2052858619-aad1587140537e5d621cb5bc51e904f01715370217-1920-1920.webp?1788590279" alt="imagen ilustrativa" class="img-home">
<p style="text-align: center; font-size: 20px; color: rgb(255, 255, 255); justify-content: center; margin: 5%; padding: 5%; box-shadow: 0 0 1rem rgb(0, 0, 0);">
    En PUEBLA RX, nos especializamos en ofrecerte productos de alto rendimiento diseñados específicamente para potenciar
    tu desempeño en CrossFit. Desde equipos innovadores hasta suplementos avanzados, cada artículo que seleccionamos
    está meticulosamente curado para asegurar que cumplas tus metas de entrenamiento con eficacia y seguridad. Nuestro
    compromiso es proporcionarte herramientas que optimicen tu resistencia, fuerza y agilidad, impulsando así tu
    rendimiento a niveles RX. Descubre nuestra selección y eleva tu juego con PUEBLA RX.
</p>
<iframe style="width: 768px; height: 456px; margin-left: 20%; box-shadow: 0 0 4rem rgb(0, 0, 0);" src="https://www.youtube.com/embed/DfC42U_Ia0s" title="LA MEJOR SOGA DE SALTO QUE PUEDAS USAR - MMEDD x ELITEJUMPS #crossover #boxing #crossfit #freestyle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

