<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/documents/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
  
  <title>Document</title>
</head>

<body>
  {{{body}}}
</body>
<style>
    .footer {
        background-color: #2b2b2b;
        /* Gris oscuro */
        color: white;
        padding: 20px 0;
        text-align: center;
    }

    .footer img {
        width: 4rem;
        border-radius: 80%;
    }

    .footer-logo {
        max-width: 100px;
        margin-bottom: 10px;
    }

    .footer-text {
        margin: 0;
        font-size: 14px;
    }

    .social-icons a {
        
        /* Amarillo fuerte */
        margin-top: 5px;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.3s;
    }
    .social-icons{
        margin-top: 20px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        transition: transform 0.3s;
    }

    .social-icons img:hover {
        transform: scale(1.2);
    }
</style>
<footer class="footer">
    <img src="/documents/logo.png" alt="logo">
    <p class="footer-text">© 2024 Puebla RX Store. Todos los derechos reservados.</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/tu-pagina" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
        </a>
        <a href="https://x.com/" target="_blank">
            <img src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?w=740&t=st=1722481280~exp=1722481880~hmac=a58cfb1bb19ffde0a8d708038976346b16296bbe48d79ea55454b48de716f6d7" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/tu-pagina" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
        </a>
    </div>
</footer>

</html>